body {
    margin: 0;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0px;
    gap: 16px;
}

.right {
    display: flex;
    justify-content: flex-end;
    margin: 0px 150px 0px 150px;
}


.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 150px 0px 150px;
    font-size: 24px;
    color: #f9faf8;
}

.info-header {
    display: flex;
    padding: 20px;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1f2937;
}

.hero {
    display: flex;
    background-color: #1f2937;
    margin: 50px 150px;
    gap: 50px;
}

.img-one {
    float: right;
}

.container-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-section {
    background-color: #f9faf8;
}

.third-section {
    background-color: #e5e7eb;
    display: flex;
    padding: 20px;
}

.fourth-section, button {
    background-color: #3882f6;
}

button {
    border-color: white;
    color: white;
    font-weight: 700;
}

.hero-header {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.container {
    display: flex;
    justify-content: center;
}

.img-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    align-self: center;
    max-width: 180px;
}


.quote {
    display: flex;
    padding: 10px;
    margin: 10px 130px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
}

.author {
    display: flex;
    font-size: 20px;
    font-weight: 700;
}

.fourth-section {
    display: flex;
    margin: 50px 100px;
    padding: 20px;
    gap: 40px;
}

.action-text, .action-header {
    color: #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
}

.white {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.action-header {
    font-size: 20px;
    font-weight: 700;
}


.container-gap {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

